<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <!-- Vanilla JavaScript/jQuery -->
        <div id="shopping-list">
            <!-- <h1>{{ header; header.toLocaleUpperCase() }}</h1> -->

            <!-- Shorthand if-else statement -->
            <!-- <h1>{{ header ? header : 'Welcome' }}</h1> -->

            <div class="header">
                <!-- Using Or Condition -->
                <h1>{{ header || 'Welcome' }}</h1>
                <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
                <button v-else @click="doEdit(true)" class="btn btn-primary">Add Item</button>
            </div>
                

            <div v-if="editing" class="add-item-form">
                
                <input v-on:keyup.enter="saveItem" v-model="newItem" type="text" placeholder="Add an item">
                <!-- Checkbox -->
                <label>
                    <input type="checkbox" v-model="newItemHighPriority">High Priority
                </label>
                <button v-bind:disabled="newItem.length === 0" v-on:click="saveItem" class="btn btn-primary">Save Item</button>

            </div>

            <!-- <a v-bind:href="newItem">Dynamic Link</a> -->

            <p v-if="items.length === 0">Nice job! You've bought all your items!</p>

            <!-- Radio btn -->
            <!-- <label><input type="radio" v-model="newItemPriority" value="low">Low</label> -->
            <!-- <label><input type="radio" v-model="newItemPriority" value="high">High</label> -->

            <!-- Select -->
            <!-- <label>
                Priority

                <select v-model="newItemPriority">
                    <option value="low">Low</option>
                    <option value="high">High</option>
                </select>
            </label> -->
            <!-- {{ newItem }} {{ newItemHighPriority }} -->

            <!-- <label><input type="checkbox" v-model="iceCreamFlavours" value="vanilla">Vanilla</label>
            <label><input type="checkbox" v-model="iceCreamFlavours" value="chocolate">Chocolate</label>
            <label><input type="checkbox" v-model="iceCreamFlavours" value="strawberry">Strawberry</label>
            <label><input type="checkbox" v-model="iceCreamFlavours" value="dark chocolate">Dark Chocolate</label> -->

            <ul>
                <li v-for="item in items" :key="item.id">{{ item.label }}</li>

                <!-- With indexing -->
                <!-- <li v-for="(item, index) in items" :key="item.id">{{index}} {{ item.label }}</li> -->

                <!-- Custom indexing -->
                <!-- <li v-for="(item, key) in items" :key="item.id">{{key}} {{ item.label }}</li> -->
            </ul>

            <!-- <input v-model="header"> -->
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script>
            //Vue instance
            const shoppingList = Vue.createApp({
                data() {
                    return {
                        header: 'Shopping List App',
                        editing: false,
                        newItem: '',
                        newItemHighPriority: false,
                        // iceCreamFlavours: [],
                        items: [
                            // { id: 1, label: "10 bags"},
                            // { id: 2, label: "2 plastic bags"},
                            // { id: 3, label: "5 maggies"},
                        ]
                        // Custom indexing
                        // items: {
                        //     'item-1' : { id: 1, label: "10 bags"},
                        //     'item-2' : { id: 2, label: "2 plastic bags"},
                        //     'item-3' : { id: 3, label: "5 maggies"},
                        // }
                    }
                },

                methods: {
                    saveItem() {
                        this.items.push({ id:this.items.length+1, label:this.newItem })
                        this.newItem = ""
                    },
                    doEdit(editing) {
                        this.editing = editing
                        this.newItem = ""
                    }
                },
            })
            .mount('#shopping-list')
        </script>
    </body>
</html>